APP_ENV=development
APP_NAME=
APP_URL=http://localhost:3000
APP_PORT=3000
API_VERSION=

JWT_SECRET=67ac3b2c-6b6c-4f6d-8f6f-8f6f8f6f8f6f

TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=3306
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
TYPEORM_ENTITIES=dist/**/*.entity.js